.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #2E1065;
  text-decoration: none;
  transition: all 0.3s ease;
}

.App-link:hover {
  opacity: 0.8;
  transform: scale(1.05);
}